<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#3f51b5">
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/css/aos.css">

    <link rel="stylesheet" href="/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
	<link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/sidebar.css">
	<link rel="icon" type="image/png" href="/assets/images/FUEL AID_logo.png">
	<!-- <link rel="stylesheet" href="/assets/css/sidebar.css"> -->
	<title> <%= typeof title != 'undefined' ? title : "FuelAid" %> </title>
</head>

<body>
	<%- include('../partials/header') %>
	<%- include('../partials/alerts') %>


<style>
    header{
		background-color: #403d3d!important;
	}
   header .navbar, .bg-dark, .navbar-dark, .navbar-light {
	background-color: #403d3d!important;
      background-image: none !important;
      box-shadow: none !important;
   }
   #main-wrapper{
	overflow-y: scroll;  
}

#main-wrapper::-webkit-scrollbar {
  display: none;                  /* For Chrome, Safari, Edge */
}
.butn{
  background-color: #e69500 !important;
      color: white;
      border: none;
      border-radius: 5px;
      width:100%;
}
.butn:hover {
      background: #f1c999;
    }
	.logo-container img {
    height: 0.9em;
    width: auto;
}
.mb-2 span{
	color: #403d3d;
}
   </style>
<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		<br>
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Fuel Delivery Boy</h5>
		</div>
		
		<div class="border m-4 my-3 p-4 bg-white rounded-2 shadow-sm">
			<div class="mb-2">
				<span><b>Fuel Delivery Boy Name:</b></span>
				<span><%= delivery.firstName + " " + delivery.lastName %></span>
			</div>
			
			<div class="mb-2">
				<span><b>Email:</b></span>
				<span><%= delivery.email %></span>
			</div>

            <div class="mb-2">
				<span><b>Aadhaar Card Number:</b></span>
				<span><%= delivery.acn %></span>
			</div>

            <div class="mb-2">
				<span><b>DL number:</b></span>
				<span><%= delivery.dl %></span>
			</div>

            <div class="mb-2">
				<span><b>Age:</b></span>
				<span><%= delivery.age %></span>
			</div>
			
			<div class="mb-2">
				<span><b>Phone:</b></span>
				<span><%= delivery.phone %></span>
			</div>
			
			<div class="mb-2">
				<span><b>Address:</b></span>
				<span><%= delivery.address %></span>
			</div>

            <div class="mb-2">
				<span><b>Years of Experience:</b></span>
				<span><%= delivery.experience %></span>
			</div>

            <div class="mb-2">
				<span><b>Previous Employer or Company Name:</b></span>
				<span><%= delivery.employer %></span>
			</div>

            <div class="mb-2">
				<span><b>Vehicle Type:</b></span>
				<span><%= delivery.vehicleType %></span>
			</div>

            <div class="mb-2">
				<span><b>Vehicle Number:</b></span>
				<span><%= delivery.vehicleNumber %></span>
			</div>
						
		</div>
		
	</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="/assets/js/script.js"></script>
</body>
</html>