<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#3f51b5">
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/css/aos.css">

    <link rel="stylesheet" href="/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
	<link rel="stylesheet" href="/assets/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/sidebar.css">
	<link rel="icon" type="image/png" href="/assets/images/FUEL AID_logo.png">
	<!-- <link rel="stylesheet" href="/assets/css/sidebar.css"> -->
	<title> <%= typeof title != 'undefined' ? title : "FuelAid" %> </title>
</head>

<body>
	<%- include('../partials/header') %>
	<%- include('../partials/alerts') %>


<style>
 header{
		background-color: #403d3d!important;
	}
   header .navbar, .bg-dark, .navbar-dark, .navbar-light {
	background-color: #403d3d!important;
      background-image: none !important;
      box-shadow: none !important;
   }
   #main-wrapper{
	overflow-y: scroll;  
}

#main-wrapper::-webkit-scrollbar {
  display: none;                  /* For Chrome, Safari, Edge */
}
.butn{
  	  background-color: #f1c999 !important;
      color: black;
	  padding: 10px;
      border: none;
      border-radius: 10px;
      width:100%;
	  text-decoration: none;
}
.butn:hover {
      background-color: #fc983c !important;
	  color: #000;
	  /* text-underline-position: hidden; */
    }
   </style>
<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		<br>
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Pending Deliveries</h5>
		</div>
		
		<div class="col col-sm-10 col-12 m-auto my-4" style="max-height: 75%; overflow: auto;">
			<table class="table table-info table-striped table-hover m-0 bg-white">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Customer Name</th>
						<th scope="col">Service Category</th>
						<th scope="col">Sub-Services</th>
						<th scope="col">Location</th>
						<th scope="col">Status</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<pendingDonations.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= pendingDonations[i].customer.firstName + " " + pendingDonations[i].customer.lastName %> </td>
							<td> <%= pendingDonations[i].serviceCategory %> </td>
							<td> <%= pendingDonations[i].subServices %> </td>
							<td> <%= pendingDonations[i].address %> </td>
							<td class="fw-bold text-<%= pendingDonations[i].status %>"> <%= pendingDonations[i].status %> </td>
							<td><a href="/admin/donation/view/<%= pendingDonations[i]._id %>" class="butn">View</a></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		
	</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="/assets/js/script.js"></script>
</body>
</html>